body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Titan One', cursive;
}

/* Estilos para la barra de navegación */
.Nav {
  background-color: #fff;
  height: 50px;
}

.Nav-Padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.Nav-Hijo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.Nav-Hijo li {
  margin-right: 20px;
  position: relative;
}

.Nav-Hijo a {
  color: #001F3F;
  text-decoration: none;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 18;
}

.Nav-Hijo ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #001F3F;
  padding: 10px;
}

.Nav-Hijo ul li:hover > ul {
  display: inherit;
}

.Nav-Hijo ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

.Nav-Hijo ul ul li a {
  padding: 10px 15px;
  color: #fff;
}

.Nav-Hijo ul ul li a:hover {
  background-color: #555;
}

.Logo img {
  height: 60px;
  padding: 10em;
}

.MiCuenta {
  margin-left: auto;
}

#Mi-Cuenta {
  color: #001F3F;
  font-weight: bold;
}

.BotonPlanes {
  margin-left: 20px;
}

.navbar-btn {
  background-color: #FF7262;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-btn:hover {
  background-color: #001F3F;
}